<!-- Page Banner -->
<div class="page-banner-area item-bg4">
    <div class="container">
        <div class="page-banner-content">
            <h2>{{frsService.name}}</h2>
            <ul>
                <li>Profile</li>
                <li>Your Orders</li> 
                <li><a routerLink="/user-stats">Stats</a></li>   
                <!-- <li><a routerLink="/user-stats" Stats></a></li> -->
            </ul>
        </div>
    </div>
</div>
<!-- End Page Banner -->

<div class="row">
<div class="col-lg-4 col-md-12" style="padding-top: 4%;">
    <div class="portfolio-details-information">
        <ul>
            <li>
                <div class="icon">
                    <i class='bx bx-user'></i>
                </div>
                <span>Name</span>
                <p>{{userDetails.Name}}</p>
            </li>
            <li>
                <div class="icon">
                    <i class='bx bxs-map'></i>
                </div>
                <span>Address</span>
                {{userDetails.Address}}
            </li>
            <li>
                <div class="icon">
                    <i class='bx bx-purchase-tag'></i>
                </div>
                <span>Email</span>
                {{userDetails.Email}}
            </li>
            <li>
                <div class="icon">
                    <i class='bx bx-check'></i>
                </div>
                <span>Age</span>
                {{userDetails.Age}}
            </li>
            <li>
                <div class="icon">
                    <i class='bx bx-globe'></i>
                </div>
                <span>Gender</span>
                <p>{{userDetails.Gender}}</p>
            </li>
        </ul>
    </div>
</div>

<div class="col row" >
<div *ngFor="let order of orders" style="padding: 5%;">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{order.restName}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">Order ID: {{order._id}} &nbsp; &nbsp; &nbsp; &nbsp;<small>Status: </small><span class="badge" style="color: white;" [ngClass]="{'bg-success': order.status=='2', 'bg-warning': order.status=='1', 'bg-secondary': order.status=='0'}">{{setOrderStatusDisplay(order.status)}}</span> </h6>
          <p class="card-text">Ordered Dishes</p>
          <!-- <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              A list item <small>Rs.200</small>
              <span class="badge rounded-pill" style="background-color:coral">14</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              A second list item <small>Rs.200</small>
              <span class="badge rounded-pill" style="background-color:coral">2</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              A third list item  &nbsp; <small>Rs.200</small>
              <span class="badge rounded-pill" style="background-color:coral">1</span>
            </li>
          </ul>
          <!-- <p class="card-text">1 x Biriyani, 2x Choclate Icecream</p> -->
          <ol class="list-group list-group-numbered">
            <!-- <li class="list-group-item" *ngFor="let dish of order.orderDishes"> -->
                <div class="d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                <div class="fw-bold">{{order.dishName}}</div>
                <!-- <small *ngIf="dish.dishPrice!=null">Rs {{order.cost}}</small>
                <small *ngIf="dish.dishPrice==null">Rs - </small> -->
                <small>Rs. {{order.cost}}</small>
              </div>
              <span class="badge rounded-pill" style="background-color: coral;">1</span><br>
            </div>
              <app-star-rating [config]="order" [rating]="order.rating"></app-star-rating>
              <!-- <div class = "star-rating">
                <span *ngFor="let n of numSequence(order.rating);"> 
                    <i class='bx bxs-star'></i>
                </span>
            </div> -->
            <!-- </li> -->
          </ol>
          <p class="card-text">Order Total: Rs. {{order.cost}}</p>
          <p class="card-text">Order Date: {{order.order_datetime}}</p>
          <a href="#" class="card-link">Additional Details</a>
        </div>
      </div>
</div>
</div>
</div>

